.rdt_TableRow:nth-child(2n) {
    background-color: #f5f6fa;
}

.rdt_TableHeadRow {
    background-color: #f5f6fa !important;
    border: none !important;
}

.rdt_TableRow {
    border: none !important;
}
