.App {
    width: 1000px;
    margin: 50px auto;
    display: grid;
    row-gap: 20px;
}

.app-grid-template {
    grid-template-rows: 67px;
    display: grid;
    grid-template-columns: 1fr 705px;
    row-gap: 20px;
    column-gap: 40px;
}

.common-module-style {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-sizing: border-box;
}

.main-container {
    @extend .app-grid-template;
    grid-template-rows: none;
    align-items: start;
}

textarea {
    resize: none;
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 16px;
    line-height: 22px;
}
input {
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 26px;
    color: #232D42;
    line-height: 26px;

}
